fastapi
uvicorn
python-multipart
opencv-python
numpy
pillow
google-auth

pystray
python-dotenv
pyhanko
pytesseract
PyMuPDF
qrcode
cryptography
stripe
fastapi-users[sqlalchemy]
sqlalchemy
httpx
passlib[bcrypt]
python-jose
email-validator
