fastapi
uvicorn
python-multipart
opencv-python
numpy
pillow
rembg
google-auth

pystray
pywin32; sys_platform == "win32"
pyhanko
pytesseract
PyMuPDF
qrcode
cryptography
stripe
fastapi-users[sqlalchemy]
sqlalchemy
httpx
aiosqlite
passlib[bcrypt]
python-jose
email-validator
django>=5.0
djangorestframework
django-allauth
django-guardian
django-tailwind
mysqlclient
uvicorn[standard]
celery
redis
python-dotenv
bcrypt==4.1.2
setproctitle; sys_platform != "win32"
pyinsane2; sys_platform != "win32"
