# Place local environment variables here
# These override settings.json
# DOCROPPER_LICENSE_KEY=YOUR-LICENSE-KEY
# DOCROPPER_LICENSE_NAME=Your Name
# DOCROPPER_DEV_LICENSE=YOUR-DEVELOPER-KEY
# DOCROPPER_DEV_WATERMARK=false
# DOCROPPER_TUNNEL=false
# DOCROPPER_GOOGLE_CLIENT_ID=your-google-client-id
# DOCROPPER_SIGN_CERT=path/to/certificate.p12
# DOCROPPER_SIGN_PASSWORD=your-password
# DOCROPPER_REMOTE_SIGN_CMD=/path/to/sign_script.sh
# LICENSE_CHECK=false
# DOCROPPER_LICENSE_LEVEL=free
