# Place local environment variables here
# These override settings.json
# DOCROPPER_LICENSE_KEY=YOUR-LICENSE-KEY
# DOCROPPER_LICENSE_NAME=Your Name
# DOCROPPER_DEV_LICENSE=YOUR-DEVELOPER-KEY
# DOCROPPER_DEV_WATERMARK=false
# DOCROPPER_TUNNEL=false
# DOCROPPER_GOOGLE_CLIENT_ID=your-google-client-id
# DOCROPPER_SIGN_CERT=path/to/certificate.p12
# DOCROPPER_SIGN_PASSWORD=your-password
# DOCROPPER_REMOTE_SIGN_CMD=/path/to/sign_script.sh
# DOCUSEAL_API_URL=https://your-docuseal.example/api/upload
# DOCUSEAL_API_KEY=your-docuseal-api-key
# STRIPE_SECRET_KEY=sk_test_...
# STRIPE_PUBLISHABLE_KEY=pk_test_...
# STRIPE_PRICE_PRO=price_xxx
# STRIPE_PRICE_FULL=price_xxx
# STRIPE_SUCCESS_URL=https://example.com/success
# STRIPE_CANCEL_URL=https://example.com/cancel
# LICENSE_CHECK=false
# DOCROPPER_LICENSE_LEVEL=free
DOCROPPER_ENABLE_SIGN=true
DOCROPPER_ENABLE_MOBILESIGN=false
DOCROPPER_ENABLE_REMOTESIGN=false
