# License-related variables
DOCROPPER_LICENSE_KEY=YOUR-LICENSE-KEY
DOCROPPER_LICENSE_NAME=Your Name
DOCROPPER_DEV_LICENSE=YOUR-DEVELOPER-KEY
DOCROPPER_LICENSE_LEVEL=free
LICENSE_CHECK=false
DOCROPPER_DEV_WATERMARK=false
DOCROPPER_TUNNEL=false
DOCROPPER_ENABLE_SIGN=true
DOCROPPER_ENABLE_MOBILESIGN=false
DOCROPPER_ENABLE_REMOTESIGN=false
